#searchResults{
    margin-left: 100px;
  }


  #location{
    margin-left: 600px;
    margin-top: -40px;
    height: 40px;
  }
  
  #locationName{
    margin-left: 600px;
    margin-top: -60px;
  }
  
  #category{
    margin-left: 250px;
    margin-top: 2px;
  }
  
  #categoryName{
    margin-left: 250px;
    margin-top: 10px;
  }
