

  header h1 {
    font-size: 55px;
    font-weight: 600;
    background-image: linear-gradient(to left, gold, purple);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-style: italic;
    font-family: Gill Sans;

  }

  h3{
    text-align: center;
    font-weight: 500;
  }

  p{
    -webkit-text-fill-color: black;
  }

  #home-list{
    overflow-x: auto;
  }

  .home-pic{
    text-align: center;
  }

  #cat-display{
    font-size: px;
    font-weight: 700;
    font-style: oblique;
  }
  #welcome{
    background-clip: text;
    background-color: black;
    font-weight: 900;
    font-family:Arial Narrow Bold;
    font-style: italic;
    font-size: 50px;
  }
  p{
  
    font-size: 22px;
    margin: 0 0 20px;
  }

  h4{
    
   font-family:Tahoma;
   font-size: 25px;
   background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f)
  }

  span{
    font-style: oblique;
  }

  .card-style{
    font-family: Tahoma;
    font-size: 20px;
    text-emphasis-color: black;
  }

  .cat-text{
    -webkit-text-fill-color: black;
  }